<configuration>

    <!--Чтобы в идее было читабельно, надо включить профиль local. -->
    <!--Запись логов в файлы отключена, чтобы писало в файлы надо включить профиль filelog -->
    <!--и указать в командной строке имя файла logging.file=anotherlog/rf-contract-svc.log-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="spring_app_name" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Профиль для локальной разработки -->
    <springProfile name="local">
        <appender name="STDOUT_STANDARD" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT_STANDARD"/>
        </root>
    </springProfile>

    <!-- Профиль для продакшена (все кроме local) -->
    <springProfile name="!local">
        <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                        <shortenedLoggerNameLength>40</shortenedLoggerNameLength>
                    </loggerName>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <stackTrace>
                        <fieldName>stacktrace</fieldName>
                    </stackTrace>
                    <pattern>
                        <pattern>
                            {
                            "pid": "${PID:-}"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                    <arguments/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_STDOUT"/>
        </root>
    </springProfile>

    <!-- Профиль для записи в файл -->
    <springProfile name="filelog">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>